---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NoirPro';
  src: url('/fonts/NoirPro-Regular.eot');
  src: url('/fonts/NoirPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NoirPro-Regular.woff2') format('woff2'),
       url('/fonts/NoirPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NoirProHeavy';
  src: url('/fonts/NoirPro-Heavy.eot');
  src: url('/fonts/NoirPro-Heavy.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NoirPro-Heavy.woff2') format('woff2'),
       url('/fonts/NoirPro-Heavy.woff') format('woff');
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'NoirPro', sans-serif;
}

body {
  background-image: url('/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0F806F;
  background-blend-mode: multiply;
}

@layer base {
  main p {
    @apply mb-5;
  }
  main a:not([class]),
  footer a:not([class]) {
    @apply underline;
  }
  h1:not([class]) {
    @apply text-3xl font-medium my-5;
  }
  h2:not([class]) {
    @apply text-2xl font-medium my-3;
  }
  h3:not([class]) {
    @apply text-xl font-medium my-2;
  }
  p > code, pre {
    @apply rounded bg-black/50 text-white px-1;
  }
}

.slide-in-top {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slide-in-top;
}

.slide-in-bottom {
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slide-in-bottom;
}

#logo {
  font-family: 'NoirProHeavy', sans-serif;
}
#get-in-touch {
  transform-origin: 50% 2em;
  animation: 1.5s wiggle 4s linear;
  animation-iteration-count: 1;
}
/*
   We are OCD about the logo and header bar, aligning them perfectly.
   See also: https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align
 */
#logo {
  line-height: 1;
  /* desired font-size for capital height */
  --capital-height: 48; /* matching the box height of #contact at smaller screens */
  /* font metrics from https://opentype.js.org/font-inspector.html */
  --font: NoirProHeavy;
  --fm-capitalHeight: 0.690; /* I added 0.018 to better match this font */
  --fm-descender: 0.256;
  --fm-ascender: 0.944;
  --fm-linegap: 0;
  /* apply font-family */
  font-family: var(--font);
  /* compute font-size to get capital height equal desired font-size */
  --computedFontSize: (var(--capital-height) / var(--fm-capitalHeight));
  font-size: calc(var(--computedFontSize) * 1px);
}
@media (min-width: 640px) {
  #logo {
    line-height: 1;
    /* desired font-size for capital height */
    --capital-height: 64; /* matching the box height of #contact at >=sm screens */
    /* font metrics from https://opentype.js.org/font-inspector.html */
    --font: NoirProHeavy;
    --fm-capitalHeight: 0.690; /* I added 0.018 to better match this font */
    --fm-descender: 0.256;
    --fm-ascender: 0.944;
    --fm-linegap: 0;
    /* apply font-family */
    font-family: var(--font);
    /* compute font-size to get capital height equal desired font-size */
    --computedFontSize: (var(--capital-height) / var(--fm-capitalHeight));
    font-size: calc(var(--computedFontSize) * 1px);
  }
}
