---
layout: default
---

<h1 class="w-full py-4 sm:py-8 text-3xl select-none slide-in-top">
  {{ page.title }}
</h1>
<div id="{{ statement.slug }}" class="slide-in-bottom">
  <div class="text-xl">
    {{ content }}
  </div>
</div>
{% for statement in site.statements %}
  {% if statement.url == page.url %}
    {% assign next = forloop.index0 | plus: 1 | modulo: forloop.length %}
    <a href="{{ site.statements[next].url }}" class="fixed bottom-3 sm:bottom-6 right-4 sm:right-8 px-4 py-3 bg-white rounded-full text-black text-xl"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M15 16l4 -4"></path><path d="M15 8l4 4"></path></svg></a>
  {% endif %}
{% endfor %}

